@charset "UTF-8";

.sign-up .img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.sign-up .img-wrapper img {
  width: 30rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.sign-up h2 {
  font-family: var(--prompy-font-family);
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.sign-up .message {
  margin: 2rem;
  text-align: center;
  background: var(--purple-color);
  color: var(--text-color-1);
  padding: 2rem;
  font-family: var(--jost-font-family);
  font-weight: bold;
  font-size: 1.8rem;
}

.sign-up .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.sign-up .form-group {
  width: 60%;
}

.sign-up .form-group label {
  font-family: var(--prompy-font-family);
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 1.5rem;
  text-align: start;
}

.sign-up .form-group input {
  width: 100%;
  background: var(--gray5);
  border-radius: 40px;
  border: none;
  box-shadow: var(--box-shadow);
  outline: none;
  height: 3.4rem;
  margin: 0 1.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 0 1.5rem;
  color: var(--text-color-2);
  font-size: 1.2rem;
  font-family: var(--jost-font-family);
}

.sign-up .form input::placeholder {
  color: var(--text-color-2);
  font-size: 1.2rem;
  font-family: var(--jost-font-family);
}

.sign-up .form button {
  width: 30%;
  margin: 0 1.5rem;
  height: 3.4rem;
  border-radius: 40px;
  box-shadow: var(--box-shadow);
  font-family: var(--prompy-font-family);
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  border: none;
  background: var(--purple-color);
  color: var(--text-color-1);
}

.sign-up .form button:hover {
  cursor: pointer;
}
